@font-face {
  font-family: "Commissioner-Regular";
  src: url(/assets/fonts/Commissioner-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  font-family: "Commissioner-Regular", Arial, sans-serif;
}
