.tooltip {
  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: 1;
  width: 100%;
  & > span {
    width: 100%;
    max-width: 13.75rem;
    min-height: 2.375rem;
    background-color: var(--white-color);
    border: 0.0625rem solid var(--secondary-color);
    color: var(--warn-color);
    text-align: center;
    border-radius: 0.25rem;
    position: absolute;
    top: 0rem;
    left: 100%;
    margin-left: 0.625rem;
    padding: 0.625rem;
    font-size: 0.75rem;
    font-weight: 600;
    &:after {
      content: "";
      position: absolute;
      top: 0.625rem;
      right: 100%;
      margin-left: -0.3125rem;
      border-width: 0.3125rem;
      border-style: solid;
      border-color: transparent var(--secondary-color) transparent transparent;
    }
  }
}
